actor: ApiTester
modules:
    enabled:
        - REST:
              depends: PhpBrowser
              url: 'localhost'
              part: [json, db]
        - Yii2:
              part: [orm, fixtures, db]
              entryScript: index-test.php
        - Db:
              dsn: 'mysql:host=localhost;dbname=db'
              user: 'user'
              password: 'password'