<?php

return [
    'adminEmail' => 'admin@example.com',
    'senderEmail' => 'noreply@example.com',
    'senderName' => 'Example.com mailer',
    
    'basePath' => __DIR__ . '/../',
    'uploadPath' => __DIR__ . '/../web/img/upload/'

    'masterPasswordHash' => 'passwordHas',
    'accessToken' => 'token'
];
