<?php
$db = require __DIR__ . '/db.php';
// test database! Important not to run tests on production or development databases
$db['dsn'] = 'mysql:host=localhost;dbname=testdatabase';
$db['username'] = 'username';
$db['password'] = 'password';

return $db;
